{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}Contact Us

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="....">
</div>

<div class="container mb-3 py-4">
    <h1 class="text-center">Contact Us</h1>
{% comment %} The name attribute is necessary for POST service {% endcomment %}
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="e.g, Amir Siddique">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="xyz@gmail.com">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" class="form-control" name="phone" id="phone" placeholder="Enter your phone number">
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter your password">
        </div>

        <div class="mb-3">
            <label for="desc">Comments</label>
            <textarea class="form-control" rows="3" placeholder="Leave a comment here" name="desc" id="desc" style="height: 100px"></textarea>
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}